<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		h1 {
			text-align: center;
			color:white;
			background-color: #E60EE2;
		}
	</style>
</head>
<body>
<h1>NOT TODAY</h1>
</body>
</html>