
	<h1 class = "projects_title">Projects</h1>
	<ul><% @project.each do |a| %>
		<li>
			<%= a.name %> 
			<% if a.description != nil %>
				-
			<%= a.description %>
			<% end %>
		</li>

		<% end %>
		</ul>